html{
	height: 100%;
	width: 100%;
	box-sizing: border-box
}
body{
	margin: 0;
	height: 100%;
	width: 100%;
}
a {
  text-decoration:none;
}

.unselectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;  
  -khtml-user-select: none;   
  -moz-user-select: none;     
  -ms-user-select: none;       
  user-select: none;           
}

.main{
	position: relative;
	height: 100%;
}

/*HEADER*/
.header{
	width: 100%;
	height: 45pt;
}
#header_up{
	display: flex;
	justify-content: center;
	background: center/100pt url(resources/ornament.png); 
	height: 100%;
	box-shadow: 0 0 20pt #1dbee0;
}
#header_icon{
	border-radius:0 0 15px 15px;
	box-shadow: 0 0 15px black;
}
#button_url_1:hover{
  box-shadow: 0pt 3pt 5pt 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
#button_url_2:hover{
  box-shadow: 0pt 3pt 5pt 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
/*HEADER*/

/*MAIN*/
.main_region{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	top: 0;
    left: 0;
	height: calc(100% + -65pt);
	width: 100%;
	background:  url(resources/astana.jpg);
	box-shadow: inset 0 0 15px #62d1f0;
}
#ornament{
	height: 100%;
	width: 45pt;
	background: center/50pt url(resources/ornament_2.png);
}
#content_main{
	width: calc(100% + -90pt);
	height: 100%;
}
#headButton{
	height: 59pt;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
#button_0{
	height:30px; 
	margin-right: 131.5pt; 
	background: linear-gradient(to top, rgba(118, 192, 214, 0.7) 70%, #5892a3 ); 
	box-shadow: -2pt 3pt 5pt 0 rgba(0, 0, 0, 0.3); 
	border-radius: 0 0 0 15px;
    animation: but 3.5s forwards;
}
#button_1{
	height:30px; 
	margin-left: 131.5pt; 
	background: linear-gradient(to top, rgba(118, 192, 214, 0.7) 70%, #5892a3); 
	box-shadow: 2pt 3pt 5pt 0 rgba(0, 0, 0, 0.3); 
	border-radius: 0 0 15px 0;
    animation: but 3.5s forwards;
}
#button_url_1{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: arial;
	font-weight: bolder;
	color: rgba(255, 255, 255, 0.9);
	font-size: 12pt;
	text-shadow: black 0px 1px 5px;
	border-radius: 0 0 15px;
	animation: txt 3.5s forwards;
}
#button_url_2{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: arial;
	font-weight: bolder;
	color: rgba(255, 255, 255, 0.9);
	font-size: 12pt;
	text-shadow: black 0px 1px 5px;
	border-radius: 0 0 0 15px;
	animation: txt 3.5s forwards;
}
#content{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 90%;
	width: 100%;
	box-sizing: border-box;

}
#message{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 25pt;
	box-shadow: 0 0 1rem 0 rgba(72, 72, 72, 0.2);
	border-radius: 5px;
	position: relative;
	z-index: 1;
	background:  url(resources/astana.jpg);
	overflow: hidden;
	font-size: 17px;
	color: #f8f8f9;
	text-shadow: 0 1px 0 #252424;
	opacity: 0;
    animation: ani 3.5s forwards;
}
#message::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0; right: 0; bottom: 0; left: 0;
	background: 43% -90px/143% url(resources/astana.jpg);
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: inset 0px 0px 5px rgba(0,0,0,1);
	text-shadow: 0 1px 1px hsla(240,0%,100%,.5);
	filter: blur(33px);
	margin: -20px;


}
/*MESSAGE*/
#message_top{
	height: 10%;
	display: flex;
	align-items: center;
	font-family: Trebuchet MS;
	font-weight: bolder;
	color: #002054;
	font-size: 25pt;
	text-shadow: gray 0px 0 15px;
}
#message_bottom{
	height: 90%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}
#message_bottom_graf{
	height: 100%;
	width: 100%;
}
/*MESSAGE*/
/*MAIN*/

/*FOOTER*/
.footer{
	position: absolute;
	width: 100% ;
	height: 20pt;
	bottom: 0;
    left: 0;
    
}
#footer_inf{
	height: 20pt;
	color: #267c94;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #62d1f0;
}

@keyframes ani {
  0% {opacity: 0; height: 0%; width: 0%;}
  100% {opacity: 1; height: calc(90%); width: calc(75%);}
}
@keyframes but {
  0% {width: 0;}
  100% {width: 200px;}
}
@keyframes txt {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
/*FOOTER*/